// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

output "eDP-1" {

    scale 1.25
    
}

output "DP-2" {
     scale 1
}
input {

    workspace-auto-back-and-forth
    focus-follows-mouse 
    warp-mouse-to-focus

        keyboard {
        repeat-rate 25
        repeat-delay 200
        numlock
        xkb {
            layout "us,it"
            options "eurosign:e,compose:menu,grp:alt_space_toggle"
        }
    }

    touchpad {
        tap
        natural-scroll
        dwt
        dwtp
        middle-emulation
        accel-speed 0.6
        accel-profile "flat" 
        scroll-factor 0.4
    }

    mouse {
        accel-profile "flat"
    }

}
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 16

}
layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

   default-column-width { proportion 0.5; }
   focus-ring {
       width 4
       active-color "#7fc8ff00"
       inactive-color "#50505000"
   }

    border {
        off
   }   

    
    background-color "00000000"
  
}


spawn-at-startup "zen-beta"
spawn-at-startup "equibop"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "qs -p /home/zen/zenflux/Quickshell"
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "browser"

workspace "code"

workspace "notes"

workspace "discord"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


window-rule {
    match title="Accedi - Account Google — Zen Browser"
    open-floating true
}


window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule {
    match at-startup=true app-id="zen-beta"
    open-on-workspace "browser"
}


window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}


window-rule {
    open-maximized true
}

window-rule {
    match at-startup=true app-id="Logseq"

    open-on-workspace "notes"
}

window-rule {
    match at-startup=true app-id="equibop"
    open-on-workspace "discord"
}

window-rule {
    match app-id="foot"

    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.5; }

    open-floating true
}
window-rule {
    match app-id="Calculator"
    open-floating true
}



layer-rule {
    match namespace="zenful-wall"
    place-within-backdrop true
}

layer-rule {
    match namespace="^quickshell-wallpaper$"

    place-within-backdrop true
}
layer-rule {
    match namespace="^quickshell"

    place-within-backdrop true
}

layer-rule {
    match namespace="^quickshell-overview$"

    place-within-backdrop true
}

overview {
    zoom 0.5
    workspace-shadow {
        off
    }
}


binds {

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+E hotkey-overlay-title="Nautilus" { spawn "nautilus"; }
    Mod+Q repeat=false hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+W { toggle-overview; }
    Mod+Alt+Z hotkey-overlay-title="Browser" { spawn "zen-beta"; }
    Mod+Alt+K hotkey-overlay-title="Kill quickshell" { spawn "killall" ".quickshell-wra"; }
    Mod+Return hotkey-overlay-title="Wofi" { spawn "wofi" "--show" "drun";}
    Mod+Alt+R hotkey-overlay-title="Wofi" { spawn "wofi" "--show" "drun";}

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessDown allow-when-locked=true {spawn "brightnessctl" "set" "10-";}
    XF86MonBrightnessUp allow-when-locked=true {spawn "brightnessctl" "set" "+10";}

    XF86Calculator allow-when-locked=false { spawn "gnome-calculator";}

    Mod+C { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=0 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=0 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=0 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=0 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    
    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    
    Mod+Tab { focus-workspace-previous; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+T { center-column; }
    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }
    Mod+V       { toggle-window-floating; }
    Print { screenshot; }
    Mod+Alt+X { screenshot-screen;}
    Mod+Shift+E { quit; }
}
